body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.index-container {
  position: static;
  margin: 0;
  z-index: 1000;
}

#filter-select{
  background-color: rgba(255, 255, 255, 0.15);
  color: transparent;

}

#filter-select-label {
  transform: none;
  transform-origin: 0%;
  display: flex;
  left: 40px;
  justify-content: center; 
  align-items: center;    
  border-color: transparent !important; 
  height: 100%;        
  outline: none; 
  border: none;  
  box-shadow: none; 
}

#filter-select-label:active, #filter-select-label:focus {
  transform: none;
  color: inherit; 
  
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%;        
  border-color: transparent !important; 
}

.MuiFormLabel-root {

left: 40px;

}

.MuiInputBase-root {
  border-color: transparent !important; 
  
}
.css-1869usk-MuiFormControl-root {
display: none;

border-color: transparent !important; 
  background: transparent !important;
}
.css-1huaqfz-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color:rgba(0, 0, 0, 0.6)!important;
  transform: none !important;
  left: 40px;
  outline: none !important; 
  border-color: transparent !important; 
  box-shadow: none; 
  background: transparent !important;
  background-clip: unset !important;
  border-color: transparent !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important; 
  left: 40px;
}
.MuiSelect-select:focus {
  outline: none; 
  border-color: transparent; 
  box-shadow: none; 
  left: 40px;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
  left: 40px;
}
.css-bgvwm1-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  color: transparent;
  left: 40px;
  transform: none;
  color: inherit;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%;    
  border-color: transparent !important; 
  outline: none; 
  border: none; 
  box-shadow: none; 
  background: transparent;
}

.css-8voplp-MuiFormLabel-root-MuiInputLabel-root {
  display: none;
  left: 40px;
  border-color: transparent !important; 
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;

    justify-content: center; 
    align-items: center;    
    width: 100%;           
    height: 100%;           
    transform: none;        
    white-space: nowrap;
    overflow: hidden;

    z-index: 1;
    pointer-events: none;
}
.sidebar {
  position: fixed;
  width: 20%;
  left: 0;
  height: 100vh;
  margin: 0;
  top: 60px;
  overflow-y: auto;
  background-color: #606060;
  z-index: 1000;
  box-shadow: 7px 5px rgba(0, 0, 0, 0.1);
  
}
.search-filter-container {
  position: fixed;
  top: 64px; 
  display: flex;
   left: 20%;
     width: 80%; 
   background-color: #3c3c3c;
     z-index: 1000;
     box-shadow: 10px 5px rgba(0, 0, 0, 0.1);

 }
.cards-display-area {
    margin-left: 20%;
    padding: 30px;
    margin-top: 100px; 
    margin-top: calc(100px + 64px); 
    overflow-y: auto; 

}



.cards-display-area::-webkit-scrollbar {
  display: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
