
body {
    margin: 0; 
    padding: 0; 
    height: 100%; }

.sets-container {
    display: flex;
    height: 100vh;
  }

  .cards-display-area {
    flex-grow: 1; 
    padding: 20px; 
  }


.sidebar {
    position: absolute; 
    width: 25%;
    top: 0; 
    right: 0; 
    height: 100vh; 
    margin: 0; 
}
